<section class="action">
    <div class="action__container container">
        <h2 class="action__title">В акции участвуют</h2>
        <div class="action__wrapper">
            <div class="action__swiper swiper">
                <div class="action__wrapper swiper-wrapper">
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/easy-bar@1x.webp 1x, img/action__image/easy-bar@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/easy-bar@1x.png 1x"
                                srcset="img/action__image/easy-bar@2x.png 2x" class="action__slide-phone image"
                                width="198" height="263" alt="Фотография сыра Лёгкий, брусок 180 г">
                        </picture>
                        <p class="action__slide-name">Лёгкий, брусок</p>
                        <p class="action__slide-gram">180 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/easy-slice@1x.webp 1x, img/action__image/easy-slice@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/easy-slice@1x.png 1x"
                                srcset="img/action__image/easy-slice@2x.png 2x"
                                class="action__slide-phone action__slide-phone--adapt image" width="179" height="277"
                                alt="Фотография сыра Лёгкий, слайсы 120, 225 г">
                        </picture>
                        <p class="action__slide-name">Лёгкий, слайсы </p>
                        <p class="action__slide-gram">120, 225 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/creamy-bar@1x.webp 1x, img/action__image/creamy-bar@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/creamy-bar@1x.png 1x"
                                srcset="img/action__image/creamy-bar@2x.png 2x" class="action__slide-phone image"
                                width="198" height="305" alt="Фотография сыра Сливочный, брусок 200, 300 г">
                        </picture>
                        <p class="action__slide-name">Сливочный, брусок</p>
                        <p class="action__slide-gram">200, 300 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/creamy-slice@1x.webp 1x, img/action__image/creamy-slice@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/creamy-slice@1x.png 1x"
                                srcset="img/action__image/creamy-slice@2x.png 2x"
                                class="action__slide-phone action__slide-phone--adapt image" width="179" height="276"
                                alt="Фотография сыра Сливочный, брусок 130, 250 г">
                        </picture>
                        <p class="action__slide-name">Сливочный, слайсы</p>
                        <p class="action__slide-gram">130, 250 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/easy-bar@1x.webp 1x, img/action__image/easy-bar@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/easy-bar@1x.png 1x"
                                srcset="img/action__image/easy-bar@2x.png 2x" class=" action__slide-phone image"
                                width="198" height="263" alt="Фотография сыра Лёгкий, брусок 180 г">
                        </picture>
                        <p class="action__slide-name">Лёгкий, брусок</p>
                        <p class="action__slide-gram">180 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/easy-slice@1x.webp 1x, img/action__image/easy-slice@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/easy-slice@1x.png 1x"
                                srcset="img/action__image/easy-slice@2x.png 2x"
                                class="action__slide-phone action__slide-phone--adapt image" width="179" height="277"
                                alt="Фотография сыра Лёгкий, слайсы 120, 225 г">
                        </picture>
                        <p class="action__slide-name">Лёгкий, слайсы </p>
                        <p class="action__slide-gram">120, 225 г</p>
                    </div>
                    <div class="action__slide swiper-slide">
                        <picture>
                            <source
                                srcset="img/action__image/creamy-bar@1x.webp 1x, img/action__image/creamy-bar@2x.webp 2x"
                                type="image/webp">
                            <img loading="lazy" src="img/action__image/creamy-bar@1x.png 1x"
                                srcset="img/action__image/creamy-bar@2x.png 2x" class="action__slide-phone image"
                                width="198" height="305" alt="Фотография сыра Сливочный, брусок 200, 300 г">
                        </picture>
                        <p class="action__slide-name">Сливочный, брусок</p>
                        <p class="action__slide-gram">200, 300 г</p>
                    </div>
                </div>
                <div class="action__pagination"></div>
            </div>
            <div class="action__navig">
                <div class="action__navig-next">
                    <img loading="lazy" src="img/slider/next.svg" class="image" width="19" height="28" alt="">
                </div>
                <div class="action__navig-prev">
                    <img loading="lazy" src="img/slider/prev.svg" class="image" width="19" height="28" alt="">
                </div>
            </div>
        </div>
    </div>
</section>