<footer class="footer" id="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer__line">
        <h3 class="footer__title">Информационная линия</h3>
        <a href="tel:+78003331525" class="footer__phone">8 800 333-15-25</a>

      </div>
      <nav class="footer__menu">
        <ul class="list-reset footer__menu-items menu-items">
          <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link menu-link">Обратная связь</a>
          </li>
          <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link menu-link">Правила акции</a></li>
          <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link menu-link">FAQ</a></li>
        </ul>
      </nav>
      <div class="footer__followed followed">
        <h4 class="footer__followed-title followed__title">Присоединяйтесь к нам</h4>
        <ul class="list-reset footer__socials followed__socials">
          <li class="footer__social">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjn5PPN8r6BAxXsGBAIHRATAGwQFnoECAgQAQ&url=https%3A%2F%2Fru-ru.facebook.com%2F&usg=AOvVaw3vhnFgpp6_CcaCx9kItHFY&opi=89978449"
              class="footer__link">
              <img loading="lazy" src="img/social/facebook.svg" class="image footer__logo" width="6.5" height="13"
                alt="Facebook Logo"></a>
          </li>
          <li class="footer__social"> <a href="https://vk.com/feed" class="footer__link">
              <img loading="lazy" src="img/social/vk.svg" class="image footer__logo" width="17" height="10"
                alt="VK Logo"></a>
          </li>
          <li class="footer__social"> <a href="#" class="footer__link">
              <img loading="lazy" src="img/social/in.svg" class="image footer__logo" width="13" height="13"
                alt="in Logo"></a>
          </li>
          <li class="footer__social"> <a href="https://twitter.com/?lang=ru" class="footer__link">
              <img loading="lazy" src="img/social/x.svg" class="image footer__logo" width="15" height="12"
                alt="X Logo"></a>
          </li>
          <li class="footer__social"> <a href="https://www.instagram.com/" class="footer__link">
              <img loading="lazy" src="img/social/instagram.svg" class="image footer__logo" width="13" height="13"
                alt="Instagram Logo"></a>
          </li>
          <li class="footer__social"> <a href="https://ru.pinterest.com/" class="footer__link">
              <img loading="lazy" src="img/social/pinterest.svg" class="image footer__logo" width="10" height="13"
                alt="Pinterest Logo"></a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">© 2020 ООО «Валио»</p>
  </div>
</footer>