<header class="header">
  <div class="header__container container">
    <div class="header__block">
      <div class="header__burg"><span></span><span></span><span></span></div>
      <a href="#" class="header__logo logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="180" height="27" alt="Logo Oltermanni">
      </a>
      <div class="header__burg-menu">
        <ul class="list-reset header__menu menu-items">
          <li class="menu-item"><a href="#" class="menu-link">Обратная связь</a>
          </li>
          <li class="menu-item"><a href="#" class="menu-link">Правила акции</a></li>
          <li class="menu-item"><a href="#" class="menu-link">FAQ</a></li>
        </ul>
        <div class="header__burg-followed followed">
          <h4 class="followed__title">Присоединяйтесь к нам</h4>
          <ul class="list-reset followed__socials">
            <li class="footer__social">
              <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjn5PPN8r6BAxXsGBAIHRATAGwQFnoECAgQAQ&url=https%3A%2F%2Fru-ru.facebook.com%2F&usg=AOvVaw3vhnFgpp6_CcaCx9kItHFY&opi=89978449"
                class="footer__link followed__link">
                <img loading="lazy" src="img/social/facebook.svg" class="image footer__logo" width="6.5" height="13"
                  alt="Facebook Logo"></a>
            </li>
            <li class="footer__social"> <a href="https://vk.com/feed" class="footer__link followed__link">
                <img loading="lazy" src="img/social/vk.svg" class="image footer__logo" width="17" height="10" alt="VK Logo"></a>
            </li>
            <li class="footer__social"> <a href="#" class="footer__link followed__link">
                <img loading="lazy" src="img/social/in.svg" class="image footer__logo" width="13" height="13" alt="in Logo"></a>
            </li>
            <li class="footer__social"> <a href="https://twitter.com/?lang=ru" class="footer__link followed__link">
                <img loading="lazy" src="img/social/x.svg" class="image footer__logo" width="15" height="12" alt="X Logo"></a>
            </li>
            <li class="footer__social"> <a href="https://www.instagram.com/" class="footer__link followed__link">
                <img loading="lazy" src="img/social/instagram.svg" class="image footer__logo" width="13" height="13"
                  alt="Instagram Logo"></a>
            </li>
            <li class="footer__social"> <a href="https://ru.pinterest.com/" class="footer__link followed__link">
                <img loading="lazy" src="img/social/pinterest.svg" class="image footer__logo" width="10" height="13"
                  alt="Pinterest Logo"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="nav" title="Главное меню" data-da="header__burg-menu,0,768">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#rules" class="nav__link" data-scroll>Правила</a></li>
        <li class="nav__item"><a href="#footer" class="nav__link" data-scroll>Призы</a></li>
        <li class="nav__item"><a href="#footer" class="nav__link" data-scroll>Победители</a></li>
      </ul>
    </nav>
    <div class="header__form">
      <button class="popup-buttons header__form-login" data-path="login-popup">Вход</button>
      <button class="popup-buttons header__form-signup" data-path="signup-popup">Регистрация</button>
      <div class="header__modals">
        <div class="header__modals-overlay">
          <div class="header__modal header__modal--login" data-target="login-popup">
            Вход
            <svg class="header__modal-close" width="22.5" height="22.5" viewBox="0 0 26 26" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1.75 1.75L24.25 24.25" stroke="#020E19" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M1.75 24.25L24.25 1.75" stroke="#020E19" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <button class="popup-buttons header__form-signup header__form-signup--phone" data-path="signup-popup">Регистрация</button>
          </div>
          <div class="header__modal header__modal--signup" data-target="signup-popup">
            Регистрация
            <svg class="header__modal-close" width="22.5" height="22.5" viewBox="0 0 26 26" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1.75 1.75L24.25 24.25" stroke="#020E19" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path d="M1.75 24.25L24.25 1.75" stroke="#020E19" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <button class="popup-buttons header__form-login header__form-login--modal" data-path="login-popup">Вход</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>