<section class="hero">
  <div class="hero__container">
    <img loading="lazy" src="img/cheese/circle.svg" class="hero__images" alt="Изображение окружности">
    <div class="hero__wrap">
      <picture>
        <source srcset="img/cheese/cheese-phone@1x.webp 1x, img/cheese/cheese-phone@2x.webp 2x" media="(max-width: 420px)" type="image/webp">
        <source srcset="img/cheese/cheese-phone@1x.png 1x, img/cheese/cheese-phone@2x.png 2x" media="(max-width:420px)">
        <source srcset="img/cheese/cheese@1x.webp 1x, img/cheese/cheese@2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/cheese/cheese@1x.png 1x" srcset="img/cheese/cheese@2x.png 2x" class="hero__image" alt="Сыр Вашему Дому">
      </picture>

    </div>
    <div class="hero__background">
      <button class="hero__button">Загрузить чек</button>
    </div>
  </div>

  <div class="hero__gifts">
    <div class="hero__gifts-container container">
      <h2 class="hero__gifts-title">
        <img loading="lazy" src="img/prizes/baloon.svg" class="hero__gifts-picture hero__gifts-picture--ballon image"
          width="81" height="159" alt="Шарик">
        Нам 40 лет — вам подарки
        <img loading="lazy" src="img/prizes/curly.svg" class="hero__gifts-picture hero__gifts-picture--curly image" width="32"
          height="48" alt="Кудряшка">
      </h2>
      <div class="hero__gifts-inner">
        <div class="hero__gifts-item">
          <div class="hero__gifts-descrip">
            <img loading="lazy" src="img/prizes/first.svg" class="hero__gifts-image image" width="48" height="46" alt="Покупайте сыр
            Oltermanni ">
            <p class="hero__gifts-text">
              Покупайте сыр <br> Oltermanni
            </p>
          </div>
          <img loading="lazy" src="img/prizes/arrow.svg" class="hero__gifts-arrow" alt="Arrow Image">
        </div>

        <div class="hero__gifts-item">
          <div class="hero__gifts-descrip">
            <img loading="lazy" src="img/prizes/second.svg" class="hero__gifts-image image" width="74" height="45" alt="Регистрируйте чеки ">
            <p class="hero__gifts-text">Регистрируйте чеки <br> на сайте в период <br>
              с 1 сентября по 30 ноября <br> 2020 года</p>
          </div>
          <img loading="lazy" src="img/prizes/arrow.svg" class="hero__gifts-arrow" alt="Arrow Image">
        </div>

        <div class="hero__gifts-item">
          <div class="hero__gifts-descrip">
            <img loading="lazy" src="img/prizes/third.svg" class="hero__gifts-image image" width="30" height="45" alt="Получайте призы">
            <p class="hero__gifts-text">Получайте <br class="phone-none"> гарантированные <br>
              призы — деньги <br class="phone-none"> на телефон</p>
          </div>
          <img loading="lazy" src="img/prizes/arrow.svg" class="hero__gifts-arrow" alt="Arrow Image">
        </div>

        <div class="hero__gifts-item">
          <div class="hero__gifts-descrip">
            <img loading="lazy" src="img/prizes/four.svg" class="hero__gifts-image image" width="43" height="45" alt="Участвуйте в Розыгрышах">
            <p class="hero__gifts-text">Участвуйте <br> в еженедельных <br class="phone-none"> розыгрышах</p>
          </div>
          <img loading="lazy" src="img/prizes/arrow.svg" class="hero__gifts-arrow" alt="Arrow Image">
        </div>

        <div class="hero__gifts-item hero__gifts-item--last">
          <img loading="lazy" src="img/prizes/five.svg" class="hero__gifts-image image" width="70" height="45" alt="Возможность выиграть">
          <p class="hero__gifts-text">Получите возможность <br> выиграть 400 000 ₽ <br>
            на новый интерьер</p>
        </div>
      </div>
    </div>
  </div>
</section>